#home {
    background: #a6c7bc;
}

.title .estiem {
    padding: 50px;
    color: #105635;
    position: absolute;
}

.estiem span {
    display: inline-flex;
    color: #255b43;
}

.estiem span:nth-child(even) {
    font-size: 25px;
    overflow: hidden;
    transition: ease-in-out 1s;
    /* color: #C39D6B; */
    color: #105635;
    opacity: 0.5;
    letter-spacing: -1em;
}

.estiem:hover span:nth-child(even) {
    letter-spacing: 0em;
}

.estiem:hover span:nth-child(2) {
    transition-delay: 0s;
}

.estiem:hover span:nth-child(4) {
    transition-delay: 0.2s;
}

.estiem:hover span:nth-child(6) {
    transition-delay: 0.4s;
}

.estiem:hover span:nth-child(8) {
    transition-delay: 0.5s;
}

.estiem:hover span:nth-child(10) {
    transition-delay: 0.7s;
}

.estiem:hover span:nth-child(12) {
    transition-delay: 0.9s;
}