#contacts {
    background: #cfd9ce;
    height: 20vh;
    position: relative;
}

#social_networks {
    height: 100%;
    margin: 0;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    width: 550px;
}

#social_networks ul {
    list-style: none;
}

#social_networks ul li {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #384d47;
    float: left;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

#social_networks ul li .fa {
    color: #384d47;
    transition: all 0.5s ease;
    font-size: 20px;
}

#social_networks ul li .fa-2x {
    font-size: unset;
}

#social_networks ul li:hover {
    opacity: 0.8;
}


/* linkedin */

#social_networks ul li:hover.linkedin {
    border: 2px solid #0e76a8;
    transition: all 0.5s ease;
}

#social_networks ul li:hover .fa-linkedin {
    color: #0e76a8;
    transition: all 0.5s ease;
}


/* facebook */

#social_networks ul li:hover.facebook {
    border: 2px solid #3b5998;
    transition: all 0.5s ease;
}

#social_networks ul li:hover .fa-facebook {
    color: #3b5998;
    transition: all 0.5s ease;
}


/* instagram */

#social_networks ul li:hover.instagram {
    border: 2px solid #c42567;
    transition: all 0.5s ease;
}

#social_networks ul li:hover .fa-instagram {
    color: #c42567;
    transition: all 1s ease;
}


/* youtube */

#social_networks ul li:hover.youtube {
    border: 2px solid #bb321f;
    transition: all 0.5s ease;
}

#social_networks ul li:hover .fa-youtube {
    color: #bb321f;
    transition: all 0.5s ease;
}


/* telegram */

#social_networks ul li:hover.telegram {
    border: 2px solid #0088cc;
    transition: all 0.5s ease;
}

#social_networks ul li:hover .fa-telegram {
    color: #0088cc;
    transition: all 0.5s ease;
}