
#contacts {
	background: white;
	height: 20vh;
	position: relative;
}

#social_networks {
	height: 100%;
    margin: 0;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    width: 550px;
}

#social_networks ul {
	list-style: none;
}

#social_networks ul li {
	width: 50px;
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #255b43;
    float: left;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#social_networks ul li .fa {
	color: #255b43;
	transition: all 0.5s ease;
}

/* linkedin */

#social_networks ul li:hover.linkedin {
	border: 3px solid #0e76a8;
	transition: all 0.5s ease;
}

#social_networks ul li:hover .fa-linkedin {
	color: #0e76a8;
	transition: all 0.5s ease;
} 


/* facebook */

#social_networks ul li:hover.facebook {
	border: 3px solid #3b5998;
	transition: all 0.5s ease;
}

#social_networks ul li:hover .fa-facebook {
	color: #3b5998;
	transition: all 0.5s ease;
} 

/* instagram */

#social_networks ul li:hover.instagram {
	border: 3px solid #ee2a7b;
	transition: all 0.5s ease;
}

#social_networks ul li:hover .fa-instagram {
	color: #ee2a7b;
	transition: all 1s ease;
}

/* youtube */

#social_networks ul li:hover.youtube {
  border: 3px solid #dd4b39;
  transition: all 0.5s ease;
}

#social_networks ul li:hover .fa-youtube {
  color: #dd4b39;
  transition: all 0.5s ease;
}

/* telegram */

#social_networks ul li:hover.telegram {
  border: 3px solid #0088cc;
  transition: all 0.5s ease;
}

#social_networks ul li:hover .fa-telegram {
  color: #0088cc;
  transition: all 0.5s ease;
}