
#header {
    width: calc(100% - 100px);
    height: 50px;
    background: #255b43;
    position: fixed;
    padding: 0 50px 0 50px;
}

#header #menu {
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 50px;
}

#header #menu a {
	color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px 0 10px;
    position: relative;
}

#header #menu a::before {
	content: '';
	width: 0%;
	height: 2px;
	right: 0;
	bottom: 0;
	position: absolute;
	background: white;
	transition: 0.2s;
}

#header #menu a:hover::before {
	width: 100%;
	left: 0;
}