/*========================================================================
Header
==========================================================================*/

.header {
	width: 100%;
	height: 60px;
	background-color: white;
	padding: 10px;
}


.header__body {
	@include flexbox(row, flex-end, center);
	width: 100%;
	height: 100%;
}


/*------------------------------------ Search */

.header__search {
	max-width: 500px;
	height: 30px;
	margin-right: 50px;
}

.search {
	@include flexbox(row, space-between, center);
	width: 500px;
	height: 100%;
	padding: 5px 15px;
	border: 1px solid $c_sidebar;
	box-sizing: border-box;
	border-radius: calc(0% + 50px);

	.search__input {
		font-family: 'Montserrat';
		font-weight: normal;
		height: 100%;
		width: calc(100% - 50px);
		background-color: transparent;
		color: $c_sidebar;
		font-size: 16px
	}

	.search__input::placeholder {
		color: $c_sidebar;
		opacity: 0.3;
	}

	.search__cancel.active {
		opacity: 1;
		cursor: pointer;
	}

	.search__cancel.none {
		opacity: 0;
		cursor: auto;
		user-select: none;
		pointer-events: none;
	}

}




/*------------------------------------ Language */

.header__languages {
	position: relative;
	@include flexbox(row, space-between, center);
	height: 100%;
	margin-right: 50px;
}

.language {
	margin-right: 15px;
	color: $c_footer;
	cursor: pointer;

	.language-eng {}

	.language-ukr {}

	.language-rus {
		margin: 0;
	}

	&::after {
		position: absolute;
		content: '';
		bottom: 6px;
		left: 0;
		width: 24px;
		height: 2px;
		background-color: $c_line;
		cursor: auto;
	}
}




/*------------------------------------ Buttons */

.header__butoons {
	@include flexbox(row, space-between, center);
	height: 100%;

	.button {
		margin-right: 20px;
	}
}
