/*========================================================================
Icons
==========================================================================*/

.icon-12 {
	width: 12px;
	height: 12px;
}

.icon-14 {
	width: 14px;
	height: 14px;
}

.icon-20 {
	width: 20px;
	height: 20px;
}

.icon-26 {
	width: 26px;
	height: 26px;
}

.icon-30 {
	width: 30px;
	height: 30px;
}

.icon-40 {
	width: 40px;
	height: 40px;
}

.icon-50 {
	width: 50px;
	height: 50px;
}

.icon-12 img,
.icon-14 img,
.icon-20 img,
.icon-26 img,
.icon-30 img,
.icon-40 img,
.icon-50 img {
	width: 100%;
	height: 100%;
}

.icon-12 svg,
.icon-14 svg,
.icon-20 svg,
.icon-26 svg,
.icon-30 svg,
.icon-40 svg,
.icon-50 svg {
	width: 100%;
	height: 100%;
}

svg path {
	fill: white;
}