/*========================================================================
Main settings
==========================================================================*/

.wrapper {
	@include flexbox(column, center, center);
	min-width: 300px;
	overflow: hidden;
}

.main {
	@include size(100%, 100vh);
	@include flexbox(row, space-between, center);
}

.sidebar {
	@include size(80px, 100%);
}

.content {
	@include flexbox(column, space-between, center);
	@include size(100%, 100%);
	background-color: $c_fon;
}

.conteiner {
	max-width: 1920px;
	width: 100%;
	height: 100%;
	padding: 10px 10px 10px 90px;
}

* {
	font-family: 'Montserrat';
	font-weight: 500;
	font-style: normal;
}

::selection {
	color: $c_fon;
	background-color: $c_sidebar;
	border-radius: 2px; 
}

img {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-webkit-touch-callout: none;
}