/*========================================================================
Main settings
==========================================================================*/

.wrapper {
	@include flexbox(column, center, center);
	overflow: hidden;
	min-width: 300px;
	min-height: 100vh;
}

.main {
	position: relative;
	@include size(100%, 100%);
	@include flexbox(row, space-between, center);
}

.sidebar {
	max-width: 80px;
	min-height: 650px;
	height: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	height:100%;
	width: 100%;
	// overflow: auto;
}

.content__body {
	@include flexbox(column, space-between, center);
	min-height: 100vh;
	background-color: $c_fon;
}

.section {
	display: flex;
	width: 100%;
}

.conteiner {
	max-width: 1920px;
	width: 100%;
	height: 100%;
	padding: 10px 10px 10px 90px;
	margin: 0 auto;
}

* {
	font-family: 'Montserrat';
	font-weight: 500;
	font-style: normal;
	scroll-behavior: smooth;
}

::selection {
	color: $c_fon;
	background-color: $c_sidebar;
	border-radius: 2px; 
}

img {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-webkit-touch-callout: none;
}


/*------------------------------------ Scrollbar */


::-webkit-scrollbar{
	width: 5px;
	background-color: transparent;
	border-radius: 0px;
}

::-webkit-scrollbar-thumb{
	border-radius: 0px;
	background-color: $c_sidebar;
}

::-webkit-scrollbar-thumb:hover{
	border-radius: 0px;
	background-color: $c_sidebar;
}

::-webkit-scrollbar-track{
    border-width:0;
}
