/*========================================================================
Media
==========================================================================*/



// баг: при вертикальном расположении экрана, когда меню не помещается - оно вылетает впереди шторки
// баг при вертикальном просмотре нельзя добраться до кнопок меню на пк версии

.menu-burger,
.menu-info,
.menu-center-text {
	position: relative;
	cursor: pointer;
	display: none;
}

/*------------------------------------ Sidebar */
@media (max-width: 800px) {

	body.lock {
		overflow: hidden;
	}

	.main {
		overflow: hidden;
		min-height: 100vh;
		width: 100%;
		height: 100%;
	}
	
	.sidebar {
		@include flexbox(column, space-between, center);
		min-width: 100%;
		min-height: auto;
		width: 100%;
		height: auto;

		&::before {
			position: absolute;
			content: '';
			top: -100vh;
			left: 0;
			width: 100%;
			height: 100vh;
			background-color: $c_mobil_menu;
			z-index: -1;
			transition: all 400ms ease 0s;
		}

		&.active::before { top: 0; }

		.sidebar__body {
			@include flexbox(column, space-between, center);
			width: 100%;
			max-height: none;
			background-color: transparent;
			height: 100%;
			padding: 0;

			.menu-center,
			.menu-end {
				display: none;
			}

			.menu-start {
				@include flexbox(row, space-between, center);
				max-width: none;
				max-height: none;
				width: 100%;
				height: 50px;
				margin: 0;
				padding: 5px 15px;
				background-color: $c_sidebar;

				.menu-burger,
				.menu-info { display: block; }

				.menu-info { order: 1; }

				.menu-logo {
					order: 2;
					z-index: 101;

					& .icon-50 {
						width: 40px;
						height: 40px;
					}

					.logo {
				
						&[title]:hover::after {
							display: none;
						}
					}

					a {
						@include flexbox(row, center, center);
						width: 100%;
						height: 100%;
					}

				}

				.menu-burger {
					order: 3;
					display: flex;
					transition: all 500ms ease 0s;

					&.active {
						transform: scale(1.1);
						transform: rotate(360deg);
					}
				}
			}

			.menu-center.active {
				@include flexbox(column, center, center);
				width: 100%;
				height: calc(100vh - 50px);
				padding: 20px 15px;
	
				.menu-center__list {
					@include size(100%, 100%);
					
					ul {
						@include size(100%, 100%);
						@include flexbox(column, center, center);
						display: block;
						overflow: auto;

						&::after {
							display: none;
						}
					}

					svg path { fill: $c_sidebar; }
				}
	
				.menu-center__item {
					@include flexbox(row, flex-start, center);
					@include size(100%, 50px);
					border-radius: 0;
					margin: 0;
					padding: 0px 10px;
					margin-bottom: 30px;
					opacity: 1;
					animation: menu_active 600ms forwards;
	
					& > a { @include size(30px, 30px); }
	
					.menu-center-text {
						display: block;
	
						span {
							margin-left: 20px;
							font-weight: 400;
							font-size: 32px;
							color: $c_sidebar;
						}
					}
	
					&:hover {
						background-color: $c_hover;
						border-radius: 5px;
						transition: 0;
					}
	
					&:hover svg { animation: none; }
	
					&:active svg { 
						transform: none;
						transition: none;
						animation: move_item 200ms ease-in-out; 
					}
	
					&:hover svg path{
						fill: $c_fon;
					}
	
					&:hover .menu-center-text span{
						color: $c_fon;
					}
	
					&:active svg {
						transform: scale(1.1);
						transition: all 100ms ease;
						animation: move_item 200ms ease-in-out;
					}
				}
	
			}
		}
	}

}

@keyframes menu_active {
	0% { transform: translateY(-100vh); }
	100% { transform: translateY(0); }
}

/*------------------------------------ Content */
@media (max-width: 800px) {

	.content {

		.content__body {
			@include flexbox(column, space-between, center);
			height: 100%;
			background-color: $c_fon;

			.header { display: none; }

			.section {

				.content-text {
					padding: 0;

					p {
						font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1810 - 320)));
						margin-bottom: 15px;
						color: $c_footer;

						&:last-child {
							margin: 0;
						}
					}
				}

				&.section_one {
	
					.conteiner {
						padding: 70px 15px;
					}
				}
	
				&.section_two {
	
					.conteiner {
						padding: 20px 15px;
					}
				}

				&.sponsors {

					.conteiner {
						padding: 60px 15px 20px 15px;
					}
				}
			}

		}
	}

}

/*------------------------------------ Footer */
@media (max-width: 800px) {

	.footer.z {
		z-index: -2;
	}

	.footer {
		position: relative;
		z-index: 1;
		width: 100%;
		height: 20px;
		background-color: white;

		& .conteiner {
			padding: 2px 15px;
		}
	}

	.footer__body {
		@include flexbox(row, center, center);
		width: 100%;
		height: 100%;	
	}

	.foter__content {
		color: $c_footer;
		font-size: 10px;
	}
}
