/*========================================================================
Media
==========================================================================*/

.menu-burger,
.menu-info,
.menu-center-text {
	position: relative;
	display: none;
}

/*------------------------------------ Sidebar */
@media (max-width: 800px) {

    // body.lock {
    //     overflow: hidden;
    // }

	// .sidebar {
	// 	max-width: 100%;
	// 	max-height: 100vh;
	// 	width: 100%;
	// 	min-height: 50px;
	// 	background-color: transparent;
	// 	overflow: hidden;
	// 	align-self: flex-start;

	// 	&.active {
	// 		// height: 100%;
	// 	}

	// 	&::after {
	// 		position: absolute;
	// 		content: '';
	// 		top: -120vh;
	// 		left: 0;
	// 		width: 100%;
	// 		height: 100vh;
	// 		background-color: $c_mobil_menu;
	// 		z-index: -1;
	// 		transition: all 500ms ease 0s;
	// 	}

	// 	&.active::after {
	// 		top: 0;
	// 	}
	// }

	// .sidebar__body {
	// 	@include flexbox(column, flex-start, center);
	// 	padding: 0;

	// 	.menu-center,
	// 	.menu-end {
	// 		display: none;
	// 	}
	
	// 	.menu-burger,
	// 	.menu-info {
	// 		display: block;
	// 	}
	// }

	// .menu-start {
	// 	@include flexbox(row, space-between, center);
	// 	@include size(100%, 50px);
	// 	max-width: 100%;
	// 	max-height: 100%;
	// 	background-color: $c_sidebar;
	// 	padding: 5px 10px;
	// 	margin: 0;
	// }

	// .menu-info {
	// 	order: 1;
	// }

	// .menu-logo {
	// 	order: 2;
	// 	z-index: 101;

	// 	& .icon-50 {
	// 		width: 40px;
	// 		height: 40px;
	// 	}

	// 	.logo {
	
	// 		&[title]:hover::after {
	// 			display: none;
	// 		}
	// 	}
	// }

	// .menu-burger {
	// 	order: 3;
	// 	display: flex;
	// 	transition: all 500ms ease 0s;

	// 	&.active {
	// 		transform: scale(1.1);
	// 		transform: rotate(360deg);
	// 	}
	// }

	// .menu-center.active {
	// 	display: block;
	// 	overflow: auto;
	// 	width: 100%;
	// 	height: calc(100% - 50px);
	// 	padding: 80px 10px 10px 10px;

	// 	@include flexbox(column, center, flex-start);

	// 	& .menu-center__list {
	// 		max-width: 100%;

	// 		ul::after {
	// 			display: none;
	// 		}

	// 		svg path {
	// 			fill: $c_sidebar;
	// 		}
	// 	}

	// 	& .menu-center__item {
	// 		@include flexbox(row, flex-start, center);
	// 		margin-bottom: 30px;
	// 		width: 100%;
	// 		height: 50px;
	// 		border-radius: 5px;
	// 		opacity: 0;
	// 		animation: menu_active 600ms forwards;

	// 		& > a {
	// 			width: 30px;
	// 			height: 30px;
	// 		}

	// 		.menu-center-text {
	// 			display: block;

	// 			span {
	// 				margin-left: 20px;
	// 				font-weight: 400;
	// 				font-size: 32px;
	// 				color: $c_sidebar;
	// 			}
	// 		}

	// 		&:hover {
	// 			background-color: transparent;
	// 		}

	// 		&:hover svg path{
	// 			fill: $c_hover;
	// 		}

	// 		&:hover .menu-center-text span{
	// 			color: $c_hover;
	// 		}

	// 		&:active svg {
	// 			transform: scale(1.1);
	// 			transition: all 100ms ease;
	// 			animation: move_item 200ms ease-in-out;
	// 		}
	// 	}
	// }


}

@keyframes menu_active {
	0% {
		transform: translateX(+100vh);
	}
	80% {
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

/*------------------------------------ Content */
@media (max-width: 800px) {
	// .header {
	// 	display: none;
	// }

	// .section {
	// 	width: 100%;
	// 	min-height: calc(100vh - 20px);
	// }

	// .section .conteiner {
	// 	padding: 70px 10px 0px 10px;
	// }

	// .section__content {
	// 	width: 100%;
	// 	height: 100%;
	// }
}

/*------------------------------------ Footer */
@media (max-width: 800px) {
	// .footer {
	// 	height: 20px;
	// }

	// .footer .conteiner {
	// 	padding: 5px;
	// }

	// .foter__content {
	// 	font-size: 10px;
	// }

	// .foter__content a {
	// 	color: $c_link;
	// 	border: none;
	// }
}
