/*========================================================================
Header
==========================================================================*/

.search {
	@include flexbox(row, space-between, center);
	flex: 0 1 100%;
	max-width: 500px;
	height: 30px;
	padding: 5px 10px;
	border: 1px solid $c_sidebar;
	box-sizing: border-box;
	border-radius: calc(0% + 50px);

	&.active {
		box-shadow: 0 0 3px $c_sidebar;
	}
}

.search__input-case {
	@include flexbox(row, center, center);
	height: 100%;
	width: calc(100% - 50px);
	min-width: 125px;
	margin: 0px 5px 0px 5px ;
}

.search__input {
	width: 100%;
	height: 100%;
	font-family: 'Montserrat';
	font-weight: normal;
	background-color: transparent;
	color: $c_sidebar;
	font-size: 12px
}

.search__input::placeholder {
	color: $c_sidebar;
	opacity: 0.3;
}

.search__cancel {
	opacity: 0;
	cursor: auto;
	user-select: none;
	pointer-events: none;

	&.active {
		opacity: 1;
		cursor: pointer;
		user-select: auto;
		pointer-events: all;
	}

	&.none {
		animation: cancel-input 400ms ease-in forwards;
	}
}

@keyframes cancel-input {
	0% { 
		user-select: none;
		pointer-events: none;
		opacity: 1;
	}
	75% {
		transform: rotate(360deg);
	}
	100% {
		opacity: 0;
		cursor: auto;
	}
}