/*========================================================================
Sidebar
==========================================================================*/

.sidebar {
	position: fixed;
	background-color: $c_sidebar;
}

.sidebar__body {
	@include flexbox(column, space-between, center);
	width: 100%;
	height: 100%;
	padding: 15px 15px 35px 15px;
}

/*------------------------------------ Menu Start */

.menu-start {
	@include flexbox(column, center, center);
	max-width: 50px;
	max-height: 50px;
	margin-bottom: 10px;

	.menu-logo {
		a {
			@include flexbox(row, center, center);
			width: 100%;
			height: 100%;
		}
	
		&:active svg {
			transform: scale(0.9);
			transition: all 100ms ease;
		}
	}

}

.logo {
	position: relative;

	&[title]::after {
		display: none;
		opacity: 0;
		content: "The ESTIEM!";
		position: absolute;
		left: 135%;
		top: 50%;
		transform: translateY(-50%);
		background-color: $c_hover;
		color: $c_fon;
		border-radius: 5px;
		padding: 5px;
	}

	&[title]:hover::after {
		display: inline;
		animation: opacity_item 500ms ease-out forwards;
	}
}

@keyframes opacity_item {
	99% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*------------------------------------ Menu Center */

.menu-center {
	@include flexbox(column, center, center);
	width: 100%;
	height: calc(100% - 110px);
}

.menu-center__list {
	position: relative;

	ul {

		&::after {
			content: '';
			position: absolute;
			right: -35px;
			top: -100vh;
			width: 18.5px;
			height: 37px;
			background-image: url(../img/pointer.svg);
			background-size: 18.5px 37px;
		}
	
		&.home-active::after {
			top: calc(0% + 7px);
			transition: 300ms ease-out;
		}
	
		&.people-active::after {
			top: calc(0% + 77px);
			transition: 300ms ease-out;
		}
	
		&.event-active::after {
			top: calc(0% + 147px);
			transition: 300ms ease-out;
		}
	
		&.news-active::after {
			top: calc(0% + 217px);
			transition: 300ms ease-out;
		}
	
		&.handshake-active::after {
			top: calc(0% + 287px);
			transition: 300ms ease-out;
		}
	
		&.phone-active::after {
			top: calc(0% + 357px);
			transition: 300ms ease-out;
		}

	}
}

.menu-center__item {
	@include size(50px, 50px);
	margin-bottom: 20px;
	border-radius: 50%;

	&:last-child {
		margin: 0;	
	}

	a {
		@include flexbox(row, center, center);
		width: 100%;
		height: 100%;
	}

	&:hover {
		background-color: $c_fon;
		transition: background-color 300ms;
	}

	&:hover svg {
		animation: move_item 200ms ease-in-out;
	}

	&:hover svg path{
		fill: $c_hover;
	}

	&:active svg {
		transform: scale(1.1);
		transition: all 100ms ease;
	}

}


/*------------------------------------ Menu End */


.menu-end {
	@include flexbox(column, center, center);
	margin-top: 10px;
	max-width: 50px;
	max-height: 50px;
}


/*------------------------------------ Keyframes */

@keyframes move_item {
	0% {
		transform: translateX(-2px);
	}
	25% {
		transform: translateX(2px);
	}
	50% {
		transform: translateX(-2px);
	}
	75% {
		transform: translateX(2px);
	}
	100% {
		transform: translateX(0px);
	}
}