/*========================================================================
Reset
==========================================================================*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*========================================================================
Fonts
==========================================================================*/
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/*========================================================================
Icons
==========================================================================*/
.icon-20 {
  width: 12px;
  height: 12px;
}

.icon-26 {
  width: 26px;
  height: 26px;
}

.icon-30 {
  width: 30px;
  height: 30px;
}

.icon-40 {
  width: 40px;
  height: 40px;
}

.icon-50 {
  width: 50px;
  height: 50px;
}

.icon-20 img,
.icon-26 img,
.icon-30 img,
.icon-40 img,
.icon-50 img {
  width: 100%;
  height: 100%;
}

.icon-26 svg,
.icon-30 svg,
.icon-40 svg,
.icon-50 svg {
  width: 100%;
  height: 100%;
}

svg path {
  fill: white;
}

/*========================================================================
Buttons
==========================================================================*/
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.outline,
.full {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: calc(0% + 50px);
}

.outline {
  border: 1px solid #79B89B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #79B89B;
}

.full {
  background-color: #79B89B;
  color: white;
}

/*========================================================================
Main settings
==========================================================================*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 300px;
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar {
  max-width: 80px;
  height: 100%;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #F5F9F7;
}

.conteiner {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  padding: 10px 10px 10px 90px;
}

* {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
}

::-moz-selection {
  color: #F5F9F7;
  background-color: #79B89B;
  border-radius: 2px;
}

::selection {
  color: #F5F9F7;
  background-color: #79B89B;
  border-radius: 2px;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}

/*========================================================================
Sidebar
==========================================================================*/
.sidebar {
  position: fixed;
  background-color: #79B89B;
}

.sidebar__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px 15px 35px 15px;
}

/*------------------------------------ Menu Start */
.menu-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 10px;
}

.menu-start .menu-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.menu-start .menu-logo:active svg {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}

.logo {
  position: relative;
}

.logo[title]::after {
  display: none;
  opacity: 0;
  content: "The ESTIEM!";
  position: absolute;
  left: 135%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #5C9078;
  color: #F5F9F7;
  border-radius: 5px;
  padding: 5px;
}

.logo[title]:hover::after {
  display: inline;
  -webkit-animation: opacity_item 500ms ease-out forwards;
          animation: opacity_item 500ms ease-out forwards;
}

@-webkit-keyframes opacity_item {
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity_item {
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*------------------------------------ Menu Center */
.menu-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: calc(100% - 110px);
}

.menu-center__list {
  position: relative;
}

.menu-center__list ul::after {
  content: '';
  position: absolute;
  right: -35px;
  top: -100vh;
  width: 18.5px;
  height: 37px;
  background-image: url(../img/pointer.svg);
  background-size: 18.5px 37px;
}

.menu-center__list ul.home-active::after {
  top: calc(0% + 7px);
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.menu-center__list ul.people-active::after {
  top: calc(0% + 77px);
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.menu-center__list ul.event-active::after {
  top: calc(0% + 147px);
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.menu-center__list ul.news-active::after {
  top: calc(0% + 217px);
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.menu-center__list ul.handshake-active::after {
  top: calc(0% + 287px);
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.menu-center__list ul.phone-active::after {
  top: calc(0% + 357px);
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.menu-center__item {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.menu-center__item:last-child {
  margin: 0;
}

.menu-center__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.menu-center__item:hover {
  background-color: #F5F9F7;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}

.menu-center__item:hover svg {
  -webkit-animation: move_item 200ms ease-in-out;
          animation: move_item 200ms ease-in-out;
}

.menu-center__item:hover svg path {
  fill: #5C9078;
}

.menu-center__item:active svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}

/*------------------------------------ Menu End */
.menu-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  max-width: 50px;
  max-height: 50px;
}

/*------------------------------------ Keyframes */
@-webkit-keyframes move_item {
  0% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  25% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  75% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes move_item {
  0% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  25% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  75% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

/*========================================================================
Header
==========================================================================*/
.header {
  width: 100%;
  height: 60px;
  background-color: white;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

/*------------------------------------ Search */
.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  height: 100%;
  margin: 0px 50px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  max-width: 500px;
  height: 30px;
  padding: 5px 15px;
  border: 1px solid #79B89B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: calc(0% + 50px);
}

.search .search__input-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: calc(100% - 50px);
  min-width: 125px;
  margin: 0px 5px 0px 5px;
}

.search .search__input-case .search__input {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat';
  font-weight: normal;
  background-color: transparent;
  color: #79B89B;
  font-size: 16px;
}

.search .search__input::-webkit-input-placeholder {
  color: #79B89B;
  opacity: 0.3;
}

.search .search__input:-ms-input-placeholder {
  color: #79B89B;
  opacity: 0.3;
}

.search .search__input::-ms-input-placeholder {
  color: #79B89B;
  opacity: 0.3;
}

.search .search__input::placeholder {
  color: #79B89B;
  opacity: 0.3;
}

.search .search__cancel.active {
  opacity: 1;
  cursor: pointer;
}

.search .search__cancel.none {
  opacity: 0;
  cursor: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

/*------------------------------------ Language */
.header__languages {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-right: 50px;
}

.language {
  margin-right: 15px;
  color: #05321D;
  cursor: pointer;
}

.language .language-rus {
  margin: 0;
}

.language::after {
  position: absolute;
  content: '';
  bottom: 6px;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #A96C56;
  cursor: auto;
}

/*------------------------------------ Buttons */
.header__butoons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__butoons .button {
  margin-right: 20px;
}

/*========================================================================
Section
==========================================================================*/
/*========================================================================
Footer
==========================================================================*/
.footer {
  width: 100%;
  height: 30px;
  background-color: white;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.foter__content {
  color: #05321D;
  font-size: 12px;
}

.foter__content span {
  color: #05321D;
}

.foter__content span span {
  color: #79B89B;
}

.foter__content a {
  color: #05321D;
  border-bottom: 1px solid #05321D;
}

/*========================================================================
Media
==========================================================================*/
.menu-burger,
.menu-info,
.menu-center-text {
  position: relative;
  display: none;
}

/*------------------------------------ Sidebar */
@media (max-width: 1000px) {
  .sidebar {
    max-width: 100%;
    max-height: 120vh;
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
  }
  .sidebar::after {
    position: absolute;
    content: '';
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #D9EBE2;
    z-index: -1;
    -webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
  }
  .sidebar.active::after {
    top: 0;
  }
  .sidebar__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .sidebar__body .menu-center,
  .sidebar__body .menu-end {
    display: none;
  }
  .sidebar__body .menu-burger,
  .sidebar__body .menu-info {
    display: block;
  }
  .menu-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 50px;
    max-width: 100%;
    max-height: 100%;
    background-color: #79B89B;
    padding: 5px 10px;
    margin: 0;
  }
  .menu-info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .menu-logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    z-index: 101;
  }
  .menu-logo .icon-50 {
    width: 40px;
    height: 40px;
  }
  .menu-logo .logo[title]:hover::after {
    display: none;
  }
  .menu-burger {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
  }
  .menu-burger.active {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .menu-center.active {
    display: block;
    width: 100%;
    height: calc(100% - 50px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .menu-center.active .menu-center__list {
    margin-left: 50px;
    max-width: 100%;
  }
  .menu-center.active .menu-center__list ul::after {
    display: none;
  }
  .menu-center.active .menu-center__list svg path {
    fill: #79B89B;
  }
  .menu-center.active .menu-center__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    opacity: 0;
  }
  .menu-center.active .menu-center__item:nth-child(1) {
    -webkit-animation: menu_active 600ms forwards;
            animation: menu_active 600ms forwards;
  }
  .menu-center.active .menu-center__item:nth-child(2) {
    -webkit-animation: menu_active 650ms forwards;
            animation: menu_active 650ms forwards;
  }
  .menu-center.active .menu-center__item:nth-child(3) {
    -webkit-animation: menu_active 700ms forwards;
            animation: menu_active 700ms forwards;
  }
  .menu-center.active .menu-center__item:nth-child(4) {
    -webkit-animation: menu_active 750ms forwards;
            animation: menu_active 750ms forwards;
  }
  .menu-center.active .menu-center__item:nth-child(5) {
    -webkit-animation: menu_active 800ms forwards;
            animation: menu_active 800ms forwards;
  }
  .menu-center.active .menu-center__item:nth-child(6) {
    -webkit-animation: menu_active 850ms forwards;
            animation: menu_active 850ms forwards;
  }
  .menu-center.active .menu-center__item > a {
    width: 30px;
    height: 30px;
  }
  .menu-center.active .menu-center__item .menu-center-text {
    display: block;
  }
  .menu-center.active .menu-center__item .menu-center-text span {
    margin-left: 20px;
    font-weight: 400;
    font-size: 36px;
    color: #79B89B;
  }
  .menu-center.active .menu-center__item:hover {
    background-color: transparent;
  }
  .menu-center.active .menu-center__item:hover svg path {
    fill: #5C9078;
  }
  .menu-center.active .menu-center__item:hover .menu-center-text span {
    color: #5C9078;
  }
  .menu-center.active .menu-center__item:active svg {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 100ms ease;
    transition: all 100ms ease;
    -webkit-animation: move_item 200ms ease-in-out;
            animation: move_item 200ms ease-in-out;
  }
}

@-webkit-keyframes menu_active {
  0% {
    -webkit-transform: translateX(100vh);
            transform: translateX(100vh);
  }
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes menu_active {
  0% {
    -webkit-transform: translateX(100vh);
            transform: translateX(100vh);
  }
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/*------------------------------------ Content */
@media (max-width: 1000px) {
  .header {
    display: none;
  }
  .section {
    width: 100%;
    min-height: calc(100vh - 20px);
  }
  .section .conteiner {
    padding: 70px 10px 0px 10px;
  }
  .section__content {
    width: 100%;
    height: 100%;
  }
}

/*------------------------------------ Footer */
@media (max-width: 1000px) {
  .footer {
    height: 20px;
  }
  .footer .conteiner {
    padding: 5px;
  }
  .foter__content {
    font-size: 10px;
  }
  .foter__content a {
    color: #E46363;
    border: none;
  }
}

/*=====================================END=====================================*/
