/*========================================================================
Reset
==========================================================================*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*========================================================================
Fonts
==========================================================================*/
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/*========================================================================
Icons
==========================================================================*/
.icon-12 {
  width: 12px;
  height: 12px;
}

.icon-14 {
  width: 14px;
  height: 14px;
}

.icon-20 {
  width: 20px;
  height: 20px;
}

.icon-26 {
  width: 26px;
  height: 26px;
}

.icon-30 {
  width: 30px;
  height: 30px;
}

.icon-40 {
  width: 40px;
  height: 40px;
}

.icon-50 {
  width: 50px;
  height: 50px;
}

.icon-12 img,
.icon-14 img,
.icon-20 img,
.icon-26 img,
.icon-30 img,
.icon-40 img,
.icon-50 img {
  width: 100%;
  height: 100%;
}

.icon-12 svg,
.icon-14 svg,
.icon-20 svg,
.icon-26 svg,
.icon-30 svg,
.icon-40 svg,
.icon-50 svg {
  width: 100%;
  height: 100%;
}

svg path {
  fill: white;
}

/*========================================================================
Buttons
==========================================================================*/
.button {
  width: 100%;
  height: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button__case {
  width: 100%;
  height: 100%;
  border-radius: 90px;
  position: relative;
  overflow: hidden;
}

.button__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 90px;
  padding: 5px 20px 5px 20px;
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: normal;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.standard {
  background-color: #5C9078;
}

.standard .button__link {
  color: #F5F9F7;
}

.attracting {
  background-color: #c75656;
}

.attracting .button__link {
  color: #F5F9F7;
}

/*------------------------------------ Animations */
.standard:before,
.attracting:before {
  content: '';
  position: absolute;
  bottom: -5%;
  right: 0;
  width: 0;
  height: 110%;
  border-radius: 90px;
  -webkit-transition: 350ms ease-out;
  transition: 350ms ease-out;
  background-color: #333333;
  opacity: 0.9;
}

.standard:hover::before,
.attracting:hover::before {
  left: 0;
  width: 120%;
}

.standard:active,
.attracting:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: -webkit-transform 50ms;
  transition: -webkit-transform 50ms;
  transition: transform 50ms;
  transition: transform 50ms, -webkit-transform 50ms;
}

.standard:before {
  background-color: white;
  opacity: 0.2;
}

.attracting:before {
  background-color: white;
  opacity: 0.2;
}

/*========================================================================
Header
==========================================================================*/
.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  max-width: 500px;
  height: 30px;
  padding: 5px 10px;
  border: 1px solid #79B89B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: calc(0% + 50px);
}

.search.active {
  -webkit-box-shadow: 0 0 3px #79B89B;
          box-shadow: 0 0 3px #79B89B;
}

.search__input-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: calc(100% - 50px);
  min-width: 125px;
  margin: 0px 5px 0px 5px;
}

.search__input {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat';
  font-weight: normal;
  background-color: transparent;
  color: #79B89B;
  font-size: 12px;
}

.search__input::-webkit-input-placeholder {
  color: #79B89B;
  opacity: 0.3;
}

.search__input:-ms-input-placeholder {
  color: #79B89B;
  opacity: 0.3;
}

.search__input::-ms-input-placeholder {
  color: #79B89B;
  opacity: 0.3;
}

.search__input::placeholder {
  color: #79B89B;
  opacity: 0.3;
}

.search__cancel {
  opacity: 0;
  cursor: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.search__cancel.active {
  opacity: 1;
  cursor: pointer;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
  pointer-events: all;
}

.search__cancel.none {
  -webkit-animation: cancel-input 400ms ease-in forwards;
          animation: cancel-input 400ms ease-in forwards;
}

@-webkit-keyframes cancel-input {
  0% {
    -webkit-user-select: none;
            user-select: none;
    pointer-events: none;
    opacity: 1;
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    opacity: 0;
    cursor: auto;
  }
}

@keyframes cancel-input {
  0% {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    opacity: 1;
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    opacity: 0;
    cursor: auto;
  }
}

/*========================================================================
Main settings
==========================================================================*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  min-width: 300px;
  min-height: 100vh;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar {
  max-width: 80px;
  min-height: 650px;
  height: 100%;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: #F5F9F7;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.conteiner {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  padding: 10px 10px 10px 90px;
  margin: 0 auto;
}

* {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
}

::-moz-selection {
  color: #F5F9F7;
  background-color: #79B89B;
  border-radius: 2px;
}

::selection {
  color: #F5F9F7;
  background-color: #79B89B;
  border-radius: 2px;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}

/*------------------------------------ Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #79B89B;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 0px;
  background-color: #79B89B;
}

::-webkit-scrollbar-track {
  border-width: 0;
}

/*========================================================================
Sidebar
==========================================================================*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px 15px 35px 15px;
  background-color: #79B89B;
}

/*------------------------------------ Menu Start */
.menu-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 10px;
}

.menu-start .menu-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.menu-start .menu-logo:active svg {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}

.logo {
  position: relative;
}

.logo[title]::after {
  display: none;
  opacity: 0;
  content: "The ESTIEM!";
  position: absolute;
  left: 135%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #5C9078;
  color: #F5F9F7;
  border-radius: 5px;
  padding: 5px;
}

.logo[title]:hover::after {
  display: inline;
  -webkit-animation: opacity_item 500ms ease-out forwards;
          animation: opacity_item 500ms ease-out forwards;
}

@-webkit-keyframes opacity_item {
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity_item {
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*------------------------------------ Menu Center */
.menu-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: calc(100% - 110px);
}

.menu-center__list {
  position: relative;
}

.menu-center__list ul::after {
  content: '';
  position: absolute;
  right: -35px;
  top: -100vh;
  width: 18.5px;
  height: 37px;
  background-image: url(../img/pointer.svg);
  background-size: 18.5px 37px;
}

.menu-center__list ul.home-active::after {
  top: calc(0% + 7px);
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.menu-center__list ul.people-active::after {
  top: calc(0% + 77px);
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.menu-center__list ul.event-active::after {
  top: calc(0% + 147px);
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.menu-center__list ul.news-active::after {
  top: calc(0% + 217px);
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.menu-center__list ul.handshake-active::after {
  top: calc(0% + 287px);
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.menu-center__list ul.phone-active::after {
  top: calc(0% + 357px);
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.menu-center__item {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.menu-center__item:last-child {
  margin: 0;
}

.menu-center__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.menu-center__item:hover {
  background-color: #F5F9F7;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}

.menu-center__item:hover svg {
  -webkit-animation: move_item 200ms ease-in-out;
          animation: move_item 200ms ease-in-out;
}

.menu-center__item:hover svg path {
  fill: #5C9078;
}

.menu-center__item:active svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}

/*------------------------------------ Menu End */
.menu-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  max-width: 50px;
  max-height: 50px;
}

/*------------------------------------ Keyframes */
@-webkit-keyframes move_item {
  0% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  25% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  75% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes move_item {
  0% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  25% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  75% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

/*========================================================================
Header
==========================================================================*/
.header {
  width: 100%;
  height: 60px;
  background-color: white;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

/*------------------------------------ Search */
.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  height: 100%;
  margin: 0px 50px;
}

/*------------------------------------ Language */
.header__languages {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-right: 50px;
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.language ul {
  width: 100%;
}

.language__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.language__list:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 30px;
  height: 2px;
  border-radius: 2px;
  background-color: #E46363;
  -webkit-transition: 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.language__list.eng .eng,
.language__list.ukr .ukr,
.language__list.rus .rus {
  opacity: 1;
}

.language__list.eng::before {
  left: 0px;
}

.language__list.ukr::before {
  left: 40px;
}

.language__list.rus::before {
  left: 80px;
}

.language__item {
  width: 30px;
  margin-right: 10px;
}

.language__item:nth-child(3) {
  margin: 0;
}

.language__item span {
  font-size: 13px;
  font-weight: 600;
  color: #05321D;
  opacity: 0.5;
  cursor: pointer;
}

.language__item:active {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

/*------------------------------------ Buttons */
.header__butoons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__butoons .button {
  margin-right: 20px;
}

/*========================================================================
Section
==========================================================================*/
.section__content {
  width: 100%;
  height: 100%;
}

.section_one {
  background-color: #F5F9F7;
}

.section_two {
  background-color: #ffe7e7;
  min-height: 100vh;
}

.content-text {
  padding: 20px;
}

.content-text p {
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: normal;
  font-stretch: ultra-expanded;
  line-height: 2;
  margin-bottom: 50px;
  color: #05321D;
}

.content-text p:last-child {
  margin: 0;
}

/*========================================================================
Footer
==========================================================================*/
.footer {
  width: 100%;
  height: 30px;
  background-color: white;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.foter__content {
  color: #05321D;
  font-size: 12px;
}

.foter__content span {
  color: #05321D;
}

.foter__content a {
  position: relative;
  overflow: hidden;
  color: #E46363;
}

.foter__content a:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: #E46363;
  -webkit-transition: 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.foter__content a:hover::before {
  left: 0;
  width: 100%;
}

/*========================================================================
Media
==========================================================================*/
.menu-burger,
.menu-info,
.menu-center-text {
  position: relative;
  cursor: pointer;
  display: none;
}

/*------------------------------------ Sidebar */
@media (max-width: 800px) {
  body.lock {
    overflow: hidden;
  }
  .main {
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    height: 100%;
  }
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 100%;
    min-height: auto;
    width: 100%;
    height: auto;
  }
  .sidebar::before {
    position: absolute;
    content: '';
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #D9EBE2;
    z-index: -1;
    -webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
  }
  .sidebar.active::before {
    top: 0;
  }
  .sidebar .sidebar__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-height: none;
    background-color: transparent;
    height: 100%;
    padding: 0;
  }
  .sidebar .sidebar__body .menu-center,
  .sidebar .sidebar__body .menu-end {
    display: none;
  }
  .sidebar .sidebar__body .menu-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: none;
    max-height: none;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 5px 15px;
    background-color: #79B89B;
  }
  .sidebar .sidebar__body .menu-start .menu-burger,
  .sidebar .sidebar__body .menu-start .menu-info {
    display: block;
  }
  .sidebar .sidebar__body .menu-start .menu-info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .sidebar .sidebar__body .menu-start .menu-logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    z-index: 101;
  }
  .sidebar .sidebar__body .menu-start .menu-logo .icon-50 {
    width: 40px;
    height: 40px;
  }
  .sidebar .sidebar__body .menu-start .menu-logo .logo[title]:hover::after {
    display: none;
  }
  .sidebar .sidebar__body .menu-start .menu-logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  .sidebar .sidebar__body .menu-start .menu-burger {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
  }
  .sidebar .sidebar__body .menu-start .menu-burger.active {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .sidebar .sidebar__body .menu-center.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: calc(100vh - 50px);
    padding: 20px 15px;
  }
  .sidebar .sidebar__body .menu-center.active .menu-center__list {
    width: 100%;
    height: 100%;
  }
  .sidebar .sidebar__body .menu-center.active .menu-center__list ul {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: block;
    overflow: auto;
  }
  .sidebar .sidebar__body .menu-center.active .menu-center__list ul::after {
    display: none;
  }
  .sidebar .sidebar__body .menu-center.active .menu-center__list svg path {
    fill: #79B89B;
  }
  .sidebar .sidebar__body .menu-center.active .menu-center__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 0;
    margin: 0;
    padding: 0px 10px;
    margin-bottom: 30px;
    opacity: 1;
    -webkit-animation: menu_active 600ms forwards;
            animation: menu_active 600ms forwards;
  }
  .sidebar .sidebar__body .menu-center.active .menu-center__item > a {
    width: 30px;
    height: 30px;
  }
  .sidebar .sidebar__body .menu-center.active .menu-center__item .menu-center-text {
    display: block;
  }
  .sidebar .sidebar__body .menu-center.active .menu-center__item .menu-center-text span {
    margin-left: 20px;
    font-weight: 400;
    font-size: 32px;
    color: #79B89B;
  }
  .sidebar .sidebar__body .menu-center.active .menu-center__item:hover {
    background-color: #5C9078;
    border-radius: 5px;
    -webkit-transition: 0;
    transition: 0;
  }
  .sidebar .sidebar__body .menu-center.active .menu-center__item:hover svg {
    -webkit-animation: none;
            animation: none;
  }
  .sidebar .sidebar__body .menu-center.active .menu-center__item:active svg {
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
    -webkit-animation: move_item 200ms ease-in-out;
            animation: move_item 200ms ease-in-out;
  }
  .sidebar .sidebar__body .menu-center.active .menu-center__item:hover svg path {
    fill: #F5F9F7;
  }
  .sidebar .sidebar__body .menu-center.active .menu-center__item:hover .menu-center-text span {
    color: #F5F9F7;
  }
  .sidebar .sidebar__body .menu-center.active .menu-center__item:active svg {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 100ms ease;
    transition: all 100ms ease;
    -webkit-animation: move_item 200ms ease-in-out;
            animation: move_item 200ms ease-in-out;
  }
}

@-webkit-keyframes menu_active {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes menu_active {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*------------------------------------ Content */
@media (max-width: 800px) {
  .content .content__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    background-color: #F5F9F7;
  }
  .content .content__body .header {
    display: none;
  }
  .content .content__body .section .content-text {
    padding: 0;
  }
  .content .content__body .section .content-text p {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: normal;
    font-stretch: extra-expanded;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #05321D;
  }
  .content .content__body .section .content-text p:last-child {
    margin: 0;
  }
  .content .content__body .section.section_one .conteiner {
    padding: 70px 15px;
  }
  .content .content__body .section.section_two .conteiner {
    padding: 20px 15px;
  }
}

/*------------------------------------ Footer */
@media (max-width: 800px) {
  .footer.z {
    z-index: -2;
  }
  .footer {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 20px;
    background-color: white;
  }
  .footer .conteiner {
    padding: 2px 15px;
  }
  .footer__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  .foter__content {
    color: #05321D;
    font-size: 10px;
  }
}

/*=====================================END=====================================*/
