/*========================================================================
Reset
==========================================================================*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*========================================================================
Buttons
==========================================================================*/
/*========================================================================
Icons
==========================================================================*/
.icon-30 {
  width: 30px;
  height: 30px;
}

.icon-40 {
  width: 40px;
  height: 40px;
}

.icon-50 {
  width: 50px;
  height: 50px;
}

.icon-30 img,
.icon-40 img,
.icon-50 img {
  width: 100%;
  height: 100%;
}

.icon-30 svg {
  width: 100%;
  height: 100%;
}

svg path {
  fill: white;
}

/*========================================================================
Main settings
==========================================================================*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar {
  width: 80px;
  height: 100%;
}

.content {
  background-color: #F5F9F7;
  width: calc(100% - 80px);
  height: 100%;
}

/*========================================================================
Sidebar
==========================================================================*/
.sidebar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #79B89B;
  padding: 15px 15px 35px 15px;
}

/*------------------------------------ Menu Start */
.menu-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 10px;
}

/*------------------------------------ Menu Center */
.menu-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: calc(100% - 110px);
}

.menu-center::after {
  content: '';
  position: absolute;
  right: -20px;
  top: -37px;
  width: 18.5px;
  height: 37px;
  background-image: url(../img/pointer.svg);
  background-size: 18.5px 37px;
}

.menu-center.home-active::after {
  content: '';
  position: absolute;
  right: -20px;
  top: calc(75px + 177px + 7px);
  width: 18.5px;
  height: 37px;
  background-image: url(../img/pointer.svg);
  background-size: 18.5px 37px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu-center.people-active::after {
  top: calc(75px + 177px + 7px + 70px);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu-center.event-active::after {
  top: calc(75px + 177px + 7px + 140px);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu-center.news-active::after {
  top: calc(75px + 177px + 7px + 210px);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu-center.handshake-active::after {
  top: calc(75px + 177px + 7px + 280px);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu-center.phone-active::after {
  top: calc(75px + 177px + 7px + 350px);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu-center__item {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.menu-center__item:last-child {
  margin: 0;
}

.menu-center__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.menu-center__item:hover {
  background-color: #F5F9F7;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}

.menu-center__item:hover svg {
  -webkit-animation: move_item 200ms ease-in-out;
          animation: move_item 200ms ease-in-out;
}

.menu-center__item:hover svg path {
  fill: #5C9078;
}

.menu-center__item:active svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}

/*------------------------------------ Menu End */
.menu-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  max-width: 50px;
  max-height: 50px;
}

/*------------------------------------ Keyframes */
@-webkit-keyframes move_item {
  0% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  25% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  75% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes move_item {
  0% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  25% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  75% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

/*========================================================================
Header
==========================================================================*/
/*========================================================================
Section
==========================================================================*/
/*========================================================================
Footer
==========================================================================*/
/*=====================================END=====================================*/
